services:
  db_api:
    build: ./db_api
    env_file: .env
    container_name: ${DB_API_HOST}
    ports:
      - ${DB_API_PORT}:8000 #host:kontener
    volumes:
      - sqlite_data:/db_api/db/

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "${RABBIT_PORT}:${RABBIT_PORT}"
      - "${RABBIT_ADMIN_PANEL_PORT}:${RABBIT_ADMIN_PANEL_PORT}"

  input_api:
    build: ./input_api
    env_file: .env
    container_name: ${INPUT_API_HOST}
    ports:
      - ${INPUT_API_PORT}:8000
    depends_on:
      - rabbitmq


  consumer:
    build: ./input_api
    env_file: .env
    command: python consumer.py
    environment:
      PYTHONUNBUFFERED: "1"
    depends_on:
      - rabbitmq
    deploy:
      replicas: 3


    
volumes:
  sqlite_data:
    name: "sqlite_data"
